body {
    margin: auto;
    text-align: center;
    width: 75%;
    list-style: inside;
}

.title {
    padding: 0;
    background-color: beige;
    border: 1px solid black;
}

.definition {
    border: 1px solid black;
    background-color: beige;
}

.ssh {
    border: 1px solid black;
    background-color: aquamarine;
}

.subtitle {
    margin-bottom: 2rem;
    border: 1px solid black;
    background-color: lightpink;
    margin-top: 1.5rem;
}